.background {
    width: 100%;
    height: 100vh;
    background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.model {
    position: relative;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.modelImg {
    width: 300px;
}

.glasses {
    width: 15%;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid black;
}

.glassesOn{
    position: absolute;
    top: 92px;
    left: 70px;
    width: 160px;
    z-index: 1;
    opacity: 0.8;
}

.glassesInfo {
    position: absolute;
    width: 100%;
    height: 30%;
    padding: 5px;
    bottom: 0;
    left: 0;
    font-size: medium;
    text-align: left;
    background-color:rgba(240, 120, 45, 0.653) ;
    
}